<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is for a real file/dir in public/, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route everything through the front controller index.php
    RewriteRule ^ index.php [L]
</IfModule>
